[submodule "src/missions/checkio-mission-tutorial"]
	path = src/missions/checkio-mission-tutorial
	url = https://github.com/CheckiO/checkio-mission-tutorial.git
[submodule "src/missions/checkio-mission-elementary-unpack"]
	path = src/missions/checkio-mission-elementary-unpack
	url = https://github.com/CheckiO-Missions/checkio-mission-elementary-unpack.git
