[submodule "src/missions/checkio-mission-tutorial"]
	path = src/missions/checkio-mission-tutorial
	url = https://github.com/CheckiO/checkio-mission-tutorial.git
[submodule "src/missions/checkio-mission-elementary-unpack"]
	path = src/missions/checkio-mission-elementary-unpack
	url = https://github.com/CheckiO-Missions/checkio-mission-elementary-unpack.git
[submodule "src/missions/checkio-mission-first-word-simplified"]
	path = src/missions/checkio-mission-first-word-simplified
	url = https://github.com/oduvan/checkio-mission-first-word-simplified
[submodule "src/missions/checkio-mission-acceptable-password-1"]
	path = src/missions/checkio-mission-acceptable-password-1
	url = https://github.com/oduvan/checkio-mission-acceptable-password-1
