#known_user {
    display: none;
}
#known_user:checked ~ * .unknown_user {
    display: none;
}
#known_user:not(:checked) ~ * .known_user {
    display: none;
}
.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../graphics/feed-icon-14x14.png") no-repeat 0 50%;
}
#center {
}
.forum-list {
}
.forum-list-title {
    background-color: #333;
    color: white;
    border: #333 solid 1px;
    padding: 0em 0.5em;
}
.forum-list-item {
    background-color: #999;
    color: #333;
    border: #333 solid 1px;
    padding: 0em 0.5em;
}
.forum-list-post {
    border: #333 solid 1px;
    padding: 0em 0.5em;
}
.forum-list-post {
    font-family: monospace;
    padding: 0em 0.5em;
    border: black solid 1px;
}
.forum-list-post p{
    padding-top: 4px;
    margin: 0px;
}

.para-q0 {
    padding-left: 10px;
    background-color: #FFF;
}
.para-q1 {
    border-left: black solid 2px;
    padding-left: 8px;
    background-color: #EEE;
}
.para-q2 {
    border-left: black solid 4px;
    padding-left: 6px;
    background-color: #DDD;
}
.para-q3 {
    border-left: black solid 6px;
    padding-left: 4px;
    background-color: #CCC;
}
.para-q4 {
    border-left: black solid 7px;
    padding-left: 3px;
    background-color: #BBB;
}

a {
    text-decoration: none;
    color: #333;
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 60em) {

    #center {
        margin: 0em 4em;
    }
}

