<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE html>
<html lang="ru"
      xmlns='http://www.w3.org/1999/xhtml'>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description"
   content="Форум по языку Ада и технологий программирования на его основе."/>
  <title>Ada_RU - Форум по языку Ада. Сообщение отправлено.</title>
  <meta charset="utf-8"/>
  <meta property="og:url"          content="https://www.ada-ru.org/forum/ok.html"/>
  <meta property="og:title"        content="Форум по языку Ада. Сообщение отправлено."/>
  <meta property="og:image"        content="http://www.ada-ru.org/graphics/ada_ru.png"/>
  <meta property="og:image:secure_url" content="https://www.ada-ru.org/graphics/ada_ru.png"/>
  <meta property="og:type"         content="website"/>
  <meta property="og:locale"       content="ru_RU"/>
  <meta property="fb:app_id"       content="994592483896446"/>

  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous"/>
  <link rel="stylesheet" href="forum.css"/>
  <script src="/js/require.js"/>
  <script>
    require.config({xhtml:false, baseUrl: '/js'});
    require(['logins'], function(logins) { logins.start(); });
  </script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18973607-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
  <input id="known_user" type="checkbox"/>
  <div id="center" class="pure-g">
    <div class="pure-u-1">
      <h1>Ada_Ru форум</h1>
      <p>Русскоязычный форум для обсуждения языка Ада и технологий
        программирования на его основе.
        <a href="forum.atom" class="feed">Подписаться...</a>
      </p>
      <div class="forum-list-title">
        <h2>Сообщение отправлено.</h2>
      </div>
    </div>
    <div class="pure-u-1">
      <p>
      Ваше сообщение было передано в почтовую рассылку форума.
      Как только сервер почтовой рассылки обработает и разошлет
      сообщение подписчикам рассылки оно отобразится на нашем сайте.
      Это может занять некоторое время.
      </p>
      <p>
      Вы можете
      <a class="pure-button pure-button-primary" href="/forum/index.html">Вернуться в Форум</a>
      или <a class="pure-button pure-button-primary" href="/">На ada-ru.org</a>
      </p>
      <p/>
    </div>
  </div>
</body>
</html>
