<?xml version='1.0'?>
<web-app xmlns='http://forge.ada-ru.org/matreshka/xml/ns/spikedogdd'>
  <library-name>ada_ru</library-name>

  <servlet>
    <servlet-name>Solution</servlet-name>
    <servlet-tag>SERVLET.GAME_SOLUTIONS.SOLUTION_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>Solution</servlet-name>
    <url-pattern>/game/code/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StaticResource</servlet-name>
    <servlet-tag>AWFC.STATIC_RESOURCE_SERVLETS.STATIC_RESOURCE_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaticResource</servlet-name>
    <url-pattern>/acats/*</url-pattern>
    <url-pattern>/arm83/*</url-pattern>
    <url-pattern>/asis_ugrg_RU/*</url-pattern>
    <url-pattern>/files/*</url-pattern>
    <url-pattern>/glade_UG_RU/*</url-pattern>
    <url-pattern>/graphics/*</url-pattern>
    <url-pattern>/GtkAda/*</url-pattern>
    <url-pattern>/i432/*</url-pattern>
    <url-pattern>/saturn/*</url-pattern>
    <url-pattern>/icons/*</url-pattern>
    <url-pattern>/Lovelace/*</url-pattern>
    <url-pattern>/forum/*</url-pattern>
    <url-pattern>/game/*</url-pattern>
    <url-pattern>/V-0.4w/*</url-pattern>
    <url-pattern>/.well-known/acme-challenge/*</url-pattern>
    <url-pattern>/editor.html</url-pattern>
    <url-pattern>*.exe</url-pattern>
    <url-pattern>*.wiki</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.xml</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.txt</url-pattern>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.json</url-pattern>
    <url-pattern>*.map</url-pattern>
    <url-pattern>*.atom</url-pattern>
    <url-pattern>*.ico</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WikiRendering</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/edit_wiki/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>OAuth</servlet-name>
    <url-pattern>/oauth2/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Telegram</servlet-name>
    <url-pattern>/telegram</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Viber</servlet-name>
    <url-pattern>/viber</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-tag>SERVLET.USERS.USER_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Forum</servlet-name>
    <servlet-tag>SERVLET.FORUM.FORUM_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum</servlet-name>
    <url-pattern>/post-to-forum</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Pastebin</servlet-name>
    <servlet-tag>SERVLET.PASTEBIN.PASTEBIN_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pastebin</servlet-name>
    <url-pattern>/pastebin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Compile</servlet-name>
    <servlet-tag>SERVLET.COMPILE.COMPILE_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compile</servlet-name>
    <url-pattern>/compile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Solution</servlet-name>
    <servlet-tag>SERVLET.GAME_SOLUTIONS.SOLUTION_SERVLET</servlet-tag>
  </servlet>
  <servlet-mapping>
    <servlet-name>Solution</servlet-name>
    <url-pattern>/game/code/*</url-pattern>
  </servlet-mapping>
</web-app>
