body {
    color: #777;
}

#layout {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0.5em;
}

h1 {
    color: #999;
    padding: 0.3em;
}

h2 {
    color: #565d64;
    padding: 0.3em;
}

.mission {
    background: #EEE;
}

.mission p {
    padding: 0.45em;
}

.solved {
    float: right;
}

.solved input:checked ~ i {
    display: inline;
}

.solved i, .solved input {
    display: none;
}

.station-icon {
    height: 1em;
    filter: invert(0.35);
}

.mission-icon {
    height: 0.8em;
    filter: invert(0.35);
}

.power{
    float:right;
}

#station-progress {
    height: 3px;
    width: 10em;
}
